<!DOCTYPE html>
<html lang="en-US">
<style>
	body {
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 20px;
		width: 60%;
	}
</style>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Julia Chen</title>
	<link href="images/chenjing.jpg" type="image/jpg" rel="shortcut icon" />
</head>

<body>

	<img src="images/chenjing.jpg" alt="Profile pic of Julia Chen" height="350" width="350" />

	<h1> Julia Chen </h1>
	<ul>

		<h4> Basic HTML and CSS </h4>
		<li><a class="list-group-item list-group-item-info" href="lab1/aboutme.html">Basic HTML and CSS: About Me</a></li>
		<li><a class="list-group-item list-group-item-info" href="layoutPractice/cssdivpractice.html">Basic HTML and CSS: Div Decoration in CSS</a></li>
		<li><a class="list-group-item list-group-item-info" href="layoutPractice/confusing_output_1.html">Layout Practice: Confusing Output I</a></li>
		<li><a class="list-group-item list-group-item-info" href="layoutPractice/confusing_output_2.html">Layout Practice: Confusing Output II</a></li>
		<li><a class="list-group-item list-group-item-info" href="layoutPractice/confusing_output_3.html">Layout Practice: Confusing Output III</a></li>
		<li><a class="list-group-item list-group-item-info" href="layoutPractice/css_Pseudo_classes.html">Layout Practice: CSS Pseudo Classes:Hover</a></li>
		<li><a class="list-group-item list-group-item-info" href="layoutPractice/css_Pseudo_elements.html">Layout Practice: CSS Pseudo Elements: First Letter</a></li>



		<h4> CSS Layout Demo </h4>
		
		<li><a class="list-group-item list-group-item-success" href="layoutPractice/floats.html">Layout Practice: Floats</a></li>
		<li><a class="list-group-item list-group-item-success" href="layoutPractice/morefloats.html">Layout Practice: More Floats</a></li>
		<li><a class="list-group-item list-group-item-success" href="layoutPractice/newspaper.html">Layout Practice: News Paper</a></li>
		<li><a class="list-group-item list-group-item-success" href="layoutPractice/menu.html">Layout Practice: Menu</a></li>
		<li><a class="list-group-item list-group-item-success" href="hw2/tmnt.html">Layout Practice: Rot Potato Movie Introduction</a></li>

		<h4> Bootstrap Practice </h4>
		<li><a class="list-group-item list-group-item-warning" href="bootstrap/bootstrapDemo.html"> Bootstrap Demo</a></li>

		<h4> JavaScript Practice </h4>
		<li><a class="list-group-item list-group-item-danger" href="javaScriptPractice/formTest.html">JavaScript Practice: Form Test</a></li>
		<li><a class="list-group-item list-group-item-danger" href="lab7/ASCIImation.html">JavaScript Practice: ASCII Animation</a></li>
		<li><a class="list-group-item list-group-item-danger" href="lab9/maze.html">JavaScript Practice: Maze</a></li>
		<li><a class="list-group-item list-group-item-danger" href="javaScriptPractice/flatten_dictionary.html">JavaScript Practice: Flatten Dictionary</a></li>

		<h4> JQuery Practice </h4>
		<li> <a class="list-group-item list-group-item-info" href="jQueryPractice/jQueryTest.html ">JavaScript Practice: Form Test</a></li>

		<h4> AJAX Practice </h4>
		<li> <a class="list-group-item list-group-item-success" href=" lab10_ajax/ajax_demo1.html "> Show Jason in HTML</a></li>
		<li> <a class="list-group-item list-group-item-success" href=" lab10_ajax/demo2/index.html "> "Meowsy" online</a></li>
		<li> <a class="list-group-item list-group-item-success" href=" lab10_ajax/demo2_5/index.html "> "Meowsy" myself </a></li>
		<li> <a class="list-group-item list-group-item-success" href=" lab10_ajax/demo3/ajax.html "> COurse Practise</a></li>

		<h4> Test and Exception Practice </h4>
		<li><a class="list-group-item list-group-item-warning " href="test/jasmineTestDemo.html ">Jasmine Test Demo</a></li>
		<li><a class="list-group-item list-group-item-warning " href="test/exception_handler_demo.html ">Exception Handler Demo</a></li>

		<h4> Angular JS Practice </h4>
		<li><a class="list-group-item list-group-item-danger" " href="angular_js/hello_julia.html ">Hello Julia: app model bind</a></li>
		<li><a class="list-group-item list-group-item-danger" " href="angular_js/change_color.html ">Change Color: init </a></li>
		<li><a class="list-group-item list-group-item-danger" " href="angular_js/change_color_if_fill.html ">Validation:ng-model="myName" required </a></li>
		<li><a class="list-group-item list-group-item-danger" " href="angular_js/firstname_lastname.html ">FirstName + LastName: controller </a></li>
		<li><a class="list-group-item list-group-item-danger" " href="angular_js/array.html ">The Second Element: Objects Array </a></li>
		<li><a class="list-group-item list-group-item-danger" " href="angular_js/email_validation.html ">Email Validation:  type="email" </a></li>
		<li><a class="list-group-item list-group-item-danger" " href="angular_js/filter.html ">Filter:  ng-repeat="x in names | filter:test" </a></li>
		
	</ul>

	<footer>
		<!--html validator -->
		<p>
			<a href="http://validator.w3.org/check/referer ">
				<img src="http://mumstudents.org/cs472/2013-09/images/w3c-html.png " alt="Validate " />
			</a>
		</p>
	</footer>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
	 crossorigin="anonymous "></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js " integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4 "
	 crossorigin="anonymous "></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js " integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1 "
	 crossorigin="anonymous "></script>
</body>

</html>